@model Modelo.Cadastros.Produto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Registrar PRODUTO";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card">
        <div class="card-header bg-primary text-white">
            @ViewBag.Title
        </div>
        <div class="card-body">
            @Html.Partial("~/Areas/Cadastros/Views/Produtos/_PartialEditContentPanel.cshtml", Model)
        </div>

        <div class="card-footer">
            <div class="offset-md-2 col-md-10">
                <input type="submit" value="Adicionar Produto" class="btn btn-success" />
                @Html.ActionLink("Retornar a Lista", "Index", null, new { @class = "btn btn-warning" })
            </div>
        </div>
        
    </div>
}

@section ScriptPage {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass("active");
            $('#liProdutos').addClass("active");
        });
    </script>
}