@model Modelo.Cadastros.Produto

@{
    ViewBag.Title = "Detalhes do PRODUTO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header bg-primary text-black-50 text-white">
        @ViewBag.Title
    </div>

    <div class="card-body">
        @Html.Partial("~/Areas/Cadastros/Views/Produtos/_PartialDetailsContentPanel.cshtml")
    </div>

    <div class="card-footer">
        @Html.ActionLink("Alterar", "Edit", new { id = Model.ProdutoID }, new { @class = "btn btn-info" })
        @Html.ActionLink("Retornar a Lista", "Index", null, new { @class = "btn btn-warning" })
    </div>

</div>

@section ScriptPage {
    <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass("active");
            $('#liProdutos').addClass("active");
        });
    </script>
}

